streamlit==1.25.0
opencv-python-headless==4.7.0.72
torch==2.0.0
torchvision==0.15.1
numpy==1.23.5
pandas==1.4.2
pillow==9.0.1
scikit-learn==1.0.2
scipy==1.10.1
seaborn==0.11.2
torchsummary==1.5.1
urllib3==1.26.9
matplotlib==3.5.1
python-3.10

